/* 版心 */
.w{
    width:1200px;
    margin:0 auto;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.style_red{
    color:#c81623;
}
/* 快捷导航模块 */
.shortcut{
    height:31px;
    line-height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li{
    float:left;
    list-style-type: none;
}
/* 选择所有的偶数的小li ,设置小竖线的高、宽、margin值*/
.shortcut .fr ul li:nth-child(even){
    width:1px;
    height:12px;
    background-color: #666666;
    margin:9px 15px 0;
}
.arrow-icon::after{
    content:'\e91e';
}